html {
	background-color: dimgrey;
	line-height: 2.0rem;	
	font-family: Comic Sans MS;

}

body, .background  {
	width: 1080px;
	height: 1440px;	
	margin: auto;
	
		
}

.background {
	position: relative;
	margin: 0rem;
	padding: 0rem;
	display: flex;
	justify-content: center;
	align-content: center;
	background: rebeccapurple;
	
}

/*menu Bar */

.background_menuContainer {	
	height: 15rem;
	width: 100%;	
	z-index: 1;
	position: absolute;

}

#background_menuContainer--gradient {
	  background-image: linear-gradient(to top,transparent,#413c5c);
}

.menuContainer_icon {
	float: right;
	padding: .5rem;	
	width: 10%;
	height: 20%;
	font-size: 2.0rem;
	color: #c38eb8;
}

.menuContainer_icon ul {
	padding: 0rem;
	margin: 0rem;
	list-style-type: none;
}

.menuContainer_icon ul li {
	display: inline-block;
}

.menuContainer_logo {
	width: 40rem;
	height: 45%;	
	display: inline-flex;
	float: left;
	
	
}
.menuContainer_logo img {
	padding: 1.5rem;
	max-height: 100%;
	max-width: 250px;
	
}

.menuContainer_logo h3 {
	font-size: 2rem;			
	color: #c38eb8;
	
	

}
.menuContainer_menuBar {
	margin: 0px;
	padding: 0rem;
	float: left;		
}
.menuBar_menu { 	
 	list-style-type: none; 	
 	
 }
 .menuBar_menu li{
 	display: inline-block;
 	padding: 0rem 1.0rem;
 	font-weight: bold;

 }

 .menuBar_menu a{
 	color: #c38eb8;
 	text-decoration: none;
 	font-size: 1.5rem;
 	
 }
 
 /* form */

 .formContainer {
 	width: 30rem;
 	height: 60rem;
 	margin: auto;
 	display: flex;
 	justify-items: center; 	
 	position: absolute;
 	top: 20%;
 	background-color: #413c5c;
 	color: #916ed5; 	
 	place-content: center;
 	place-items: center;
  	overflow: hidden;
  	border-radius: 20px;
  	box-shadow: 0px 0px 30px 10px #181928;

 }

 
 .formContainer::before {
 	content: '';
  	position: absolute;
 	width: 100px;
 	background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  	height: 130%;
  	animation: rotBGimg 3s linear infinite;
  	transition: all 0.2s linear;
 }

 @keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.formContainer::after {
  content: '';
  position: absolute;
  background: #413c5c;
  ;
  inset: 5px;
  border-radius: 15px;
}  

.formContainer_form { 	
 	z-index: 1;
 	position: relative;
 	font-size: 1.3rem;
 }

 .divLogo {
 	position: relative;
 	bottom: 3.0rem;
 	display: flex;
 	justify-content: center; 	
 	width: 100%;
 	height: 200px;	 	 	
 	margin: auto; 
 	margin-top: 2.0rem;	
 	filter: drop-shadow( 10px 10px 5px #252638); 	
 	padding: 1.0rem;
 }

 .divLogo_logo--neumorphism {
 	filter: drop-shadow( -5px -5px 10px #7252a9);
 }

 .divInput { 	
 	margin: auto;
 	margin-top: 2px;
 	margin-bottom: 0em;
 	width: 80%;
 	height: 150px;
 	display: block;
 	position: relative;
 	bottom: 2.0rem; 	
 	padding: 1.0rem;
 	font-family: Comic Sans MS;
 	
 }

 .form_idInput {
 	width: 100%; 		
 	position: relative;
 	margin: auto;		
 		
 }

 .form_passwordInput {
 	width: 100%; 	
 	display: block; 
 	position: relative;	
 	margin: auto;
 	margin-top: 3rem;
 	
 	
 }

.form_idInput input, .form_passwordInput input{
 	position: relative; 	
  	width: 100%;
  	padding: 20px 10px 10px;
  	background: transparent;
  	outline: none;
  	box-shadow: none;
  	border: none;
 	color: #23242a;
  	font-size: 1em;
  	letter-spacing: 0.05em;
  	transition: 0.5s;
  	z-index: 2;
  	 	
  	
 }

 .form_idInput span, .form_passwordInput span {
 	position: absolute;
  	left: 0;
  	bottom: .3rem;
  	padding: 20px 10px 10px;
  	font-size: 1em;
  	color: #8f8f8f;
  	letter-spacing: 00.05em;
  	transition: 0.5s;
  	pointer-events: none;
  	
 }

.form_idInput input:valid ~span, .form_passwordInput input:valid ~span,
.form_idInput input:focus ~span, .form_passwordInput input:focus ~span {
  color:  #916ed5;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0,75em;

 }

 .form_idInput i, .form_passwordInput i {
 	position: absolute;
  	left: 0;
 	bottom: 0;
  	width: 100%;
  	height: 5px;
  	background:  #916ed5;
  	border-radius: 10px;
  	transition: 0.5s;
  	pointer-events: none;
  	z-index: 1; 	
  	
 }


.form_idInput input:valid ~i, .form_passwordInput  input:valid ~i,
.form_idInput input:focus ~i, .form_passwordInput  input:focus ~i {
  height: 44px;
}



.checkbox{
	width: 90%;
	margin: auto;		

}

.otherContent{		
	margin: auto;
	padding: 0rem;
	width: 60%;
	height: 12rem;	
	text-align: center;
	
	
}

.otherContent a {
	text-decoration: none;
	color: #916ed5;
}

.otherContent_button {
	padding: 0.8em 1.8em;
 	border: 2px solid #916ed5;
	position: relative;
 	overflow: hidden;
 	background-color: transparent;
 	text-align: center;
 	text-transform: uppercase;
 	font-size: 16px;
 	transition: .3s;
 	z-index: 1;
 	font-family: inherit;
 	color: #916ed5;
}

.otherContent_button::before {
	content: '';
 	width: 0;
 	height: 300%;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%) rotate(45deg);
 	background: #916ed5;
 	transition: .5s ease;
 	display: block;
 	z-index: -1;
}

.otherContent_button:hover::before {
	width: 105%;
}

.otherContent_button:hover {
	color:  white;
}

.otherContent select {
	padding: .3rem;
	border-radius: .3rem;
	background-color: #916ed5;
	color: white;
}

